useDynLib(glmmML)
export(glmmboot, glmmbootFit, glmmML, glmmML.fit,
       print.glmmML, summary.glmmML,
       print.glmmboot, summary.glmmboot)
S3method(print, glmmML)
S3method(summary, glmmML)
S3method(print, glmmboot)
S3method(summary, glmmboot)
